
<h1>Company Name</h1>

<center><h2>your friend <%=user.name%> found</h2>

<form action="/add_friend" method="POST">
	<input type="hidden" name="friend" value="<%= user.id %>">
	<input type="submit" name="" value="add friend">
</form>

<form action="/" method="GET">
	<input type="submit" name="" value="home">
</form>
</center>
<%message_list.reverse!%>
<% message_list.each do |post| %>
	
		<% message = post.message.to_s.split("@") %>
	<div id="message" style="background-color: green;">
		<em><i><h3 style="margin-left: 30px; margin-top: 50px;"><%=message[0]%></h3></i></em>

		

		<center><div style="border-radius: 30px; width: 800px;"><h1 style="border-radius: 30px; background-color: rgba(0,255,0,0.5);"><%=message[1]%></h1></div></center>

		<br/>
		<div style="margin-left: 70px;">
		<% if post.who_liked %>
				<form action="/display_liker" method="POST">
					<input type="hidden" name="post_id" value="<%=post.id%>">
					<input type="submit" value="<%= post.who_liked.length/2 %>"/> &nbsplike
				</form> 
			
		<%else%>
			<h4>0 likes <h4>
		<%end%>
		
		<form action="/like" method="POST">
			<input type="hidden" name="lm_id" value="<%=post.id%>" >
			<input type="submit" name="" value="like">
		</form>
		</div>
		<center><h3><i>comments</i></h3>

		<form action="/add_comment" method="POST">
			<input type="hidden" name="id" value="<%=post.id%>">
			<input style="background-color:#4caf50; 
              border: solid 1px #6E6E6E;
              height: 30px; 
              width:650px;
              font-size:16px; 
              vertical-align:9px;color:#3e2723" type="text" name="comment" placeholder="enter your comment here">
			<input type="submit" name="" value="comment">
		</form>
		</center>
		
			<% if post.comments%>
				
				<br/>
	         	<%comment_list=post.comments.split("%") 
	         	comment_list.reverse!
	        	 comment_list.each do |com|%>
	         		<center><div style="padding: 20px; width: 500px; background-color: #4caf50; border-radius:30px;">
	         			
	         			<%com=com.split("@")%>
	         			<%= com[0] %>::
	         			<%= com[1] %>
	         		</div></center>
	         		<br>
	         	<%end%>

			<%end%>   
		
	</div>
			
			<br/><br/><br/>
			<%  end %>

	

